
# runtime configs
[HandleMngr]

service-host = 127.0.0.1
service-port = 9001

handle-service-url = https://kbase.us/services/handle_service

# to run the handle manager as admin user in shock
admin-login    = 
admin-password = 

#kbase users that have permissions to run add_read_acl and set_public_read,
# separated by commas
allowed-users = 

# user logins for test scripts
test-user-a-login    = 
test-user-a-password = 
test-user-b-login    = 
test-user-b-password = 

# compiletime configs
[handle_mngr]
# service-url = https://kbase.us/services/handle_mngr
