[HandleMngr]
service-port=9001
handle-service-url=https://ci.kbase.us/services/handleservice/
service-host=127.0.0.1
allowed-users=ciservices
admin-token=blahblahblah
basedir=handle_mngr
# The KBase authorization server url.
auth-service-url=https://ci.kbase.us/services/auth/api/legacy/KBase/Sessions/Login
